.c-service-wrapper {
  @extend .col-md-6, .col-lg-3, .d-flex, .mb-5, .mb-lg-0;
}

.c-service {
  @extend .p-4, .my-4, .rounded-3;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  z-index: 1;  //keeps icon box behind animation
  background: $body-bg;

  &::before {  //top right blob
    content: '';
    position: absolute;
    background: #e1f0fa;
    right: -60px;
    top: -40px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    @include transition(0.3s);
    z-index: -1;
  }

  &:hover {
  
    &::before {
      background: $primary;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 0px;
    }
  }

  &__icon {
    @extend .icon, .transition;
    @extend .p-3, .m-3; 
    background: $primary;
    z-index: 2;
    :hover > & {
      background: $body-bg;

      svg { 
        color: $primary;
        }
    }

    svg {
      @extend .sprite, .sprite-5;
      color: $body-bg;
      z-index: 3;
     
    }
  }

  &__title {
    @extend .mb-3, .h4;

    a {
      @extend .link-no-decoration;
    }
  }

  &__description {
    :hover > & {
      color: $body-bg;
    }
  }
}